*{ box-sizing: border-box;}

@font-face {
font-family: "CarlaSansLight";
src: url("../fonts/CarlaSansLight.ttf") format("truetype");
font-style: Light;
font-weight: Light;
}

p{ font-family: 'CarlaSansLight'; }

.section1 {
width: 100vw;
height: 30vw;
}

.colums {
width: 100vw;
height: 30vw;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
}

.column {
width: 25vw;
height: 100vw;
justify-content: center;
}

.column img{
width: 100%;
}